[Unit]
Description=Unmount usb once unsealing is complete
Requires=unseal-usb@%i.target
After=unseal-usb@%i.target

[Service]
Type=oneshot
Restart=on-failure
TimeoutStopSec=10
ExecStart=/usr/local/bin/ersatz-key/unmount-and-seal.sh %I

[Install]
WantedBy=multi-user.target
